.span-1 {
  width: 73px;
}

.span-2 {
  width: 168px;
}

.span-3 {
  width: 263px;
}

.span-4 {
  width: 358px;
}

.span-5 {
  width: 454px;
}

.span-6 {
  width: 549px;
}

.span-7 {
  width: 644px;
}

.span-8 {
  width: 739px;
}

.span-9 {
  width: 834px;
}

.span-10 {
  width: 930px;
}

.span-11 {
  width: 1025px;
}

.span-12 {
  width: 1120px;
}

.offset-1 {
  margin-left: 95px;
}

.offset-2 {
  margin-left: 190px;
}

.offset-3 {
  margin-left: 286px;
}

.offset-4 {
  margin-left: 381px;
}

.offset-5 {
  margin-left: 476px;
}

.offset-6 {
  margin-left: 571px;
}

.offset-7 {
  margin-left: 666px;
}

.offset-8 {
  margin-left: 762px;
}

.offset-9 {
  margin-left: 857px;
}

.offset-10 {
  margin-left: 952px;
}

.offset-11 {
  margin-left: 1047px;
}
